# Module 1

## Query 1.1

In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\jitender\\Downloads\\TCS.csv")

In [3]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

In [4]:
df.tail()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [5]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,498.000000,4.980000e+02,4.980000e+02,498.00000,4.980000e+02,498.000000
mean,2385.881124,2383.074699,2408.793876,2359.566767,2383.857129,2384.232430,2384.496084,2.145824e+06,4.892021e+09,95057.87751,1.174299e+06,56.593494
std,462.769594,460.750575,469.944735,457.205313,462.683009,463.104214,464.115880,2.571963e+06,6.631575e+09,57544.56963,1.597305e+06,12.990890
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,1.00000,0.000000e+00,0.000000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.305855e+05,2.410861e+09,50926.25000,5.347965e+05,47.932500
50%,2396.450000,2381.500000,2423.550000,2363.725000,2393.225000,2395.150000,2399.405000,1.688115e+06,3.941426e+09,86726.00000,9.059855e+05,56.700000
75%,2636.637500,2634.350000,2668.750000,2617.662500,2635.000000,2636.637500,2641.112500,2.611122e+06,5.681952e+09,125586.75000,1.463368e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.00000,3.155626e+07,100.000000

In [6]:
df.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

In [7]:
df = df[df['Series'] == 'EQ']

In [8]:
df.dtypes

Symbol                     object
Series                     object
Date                       object
Prev Close                float64
Open Price                float64
High Price                float64
Low Price                 float64
Last Price                float64
Close Price               float64
Average Price             float64
Total Traded Quantity       int64
Turnover                  float64
No. of Trades               int64
Deliverable Qty             int64
% Dly Qt to Traded Qty    float64
dtype: object

## Query 1.2

### Maximum ,Minimum And Mean price of last 90 days (prie=Closing Price)

In [9]:
df["Date"] = pd.to_datetime(df.Date)

In [10]:
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
max= df[df['Date']>=start_date].loc[:,'Close Price'].max()
max

2260.35

In [11]:
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
min= df[df['Date']>=start_date].loc[:,'Close Price'].min()
min

1904.8

In [12]:
start_date = df['Date'].max()-pd.Timedelta(90,unit='D')
mean= df[df['Date']>=start_date].loc[:,'Close Price'].mean()
mean

2055.751694915255

## Query 1.3

In [13]:
df["Date"] = pd.to_datetime(df.Date)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94

### Difference between maximum and minimum time

In [14]:
df.Date.max()-df.Date.min()

Timedelta('728 days 00:00:00')

In [15]:
df["Month"] = df.Date.dt.month
df["Year"] = df.Date.dt.year
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,5,2017
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,5,2017
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,5,2017
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,5,2017
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,5,2017

## Query 1.4

In [16]:
df["Turnover"] =  df["Average Price"]*df["Total Traded Quantity"]

In [17]:
df.rename(columns={'Total Traded Quantity':'Total_Traded_Quantity'},inplace=True)

In [18]:
 ndf = df.groupby(['Year','Month']).Turnover.sum()/df.groupby(['Year','Month']).Total_Traded_Quantity.sum()
ndf

Year  Month
2017  5        2515.494384
      6        2487.607291
      7        2451.367208
      8        2498.004523
      9        2484.383003
      10       2533.515678
      11       2696.752161
      12       2610.473158
2018  1        2933.973882
      2        3020.005886
      3        2887.863874
      4        3302.248647
      5        3252.348569
      6        1808.625644
      7        1941.835564
      8        2014.004296
      9        2103.881648
      10       1979.372139
      11       1900.388465
      12       1962.744405
2019  1        1894.680537
      2        2002.311123
      3        2006.244741
      4        2104.622588
      5        2165.049154
dtype: float64

In [19]:
vwap =np.array(ndf)
vwap

array([2515.4943844 , 2487.60729117, 2451.36720844, 2498.00452259,
       2484.38300301, 2533.51567774, 2696.75216075, 2610.47315843,
       2933.97388163, 3020.00588628, 2887.86387377, 3302.24864692,
       3252.34856928, 1808.62564423, 1941.83556392, 2014.00429588,
       2103.88164801, 1979.37213922, 1900.38846506, 1962.74440491,
       1894.68053732, 2002.31112274, 2006.24474071, 2104.62258763,
       2165.04915399])

## Query 1.5

### Function for Average price of the Last N days

In [20]:
def Average(N):
    
    print(df.iloc[-N:,9].mean())

In [21]:
Average(4)

2156.1324999999997

### Function for Average Price for last 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.

In [22]:
def Average_cal(n):
    start_date = df['Date'].max()-pd.Timedelta(n-1,unit='D')
    return df[df['Date']>=start_date].loc[:,'Average Price'].mean()

In [23]:
Average_cal(3)

2143.87

In [24]:
# Average price for last 1 week
Average_cal(7)

2157.612

In [25]:
# Average price for last 2 week
Average_cal(14)

2174.614444444445

In [26]:
# Average price for last 1 months
Average_cal(31)

2166.7105882352944

In [27]:
#Average price for last 3 months
Average_cal(3*30)

2056.379310344828

In [28]:
# Average price for last 6 months
Average_cal(6*30)

1996.0234999999998

In [29]:
# Average price for last 1 year
Average_cal(364)

2052.436693877551

### profit/loss percentages  over the course of last- 1 week, 2 weeks, 1 month, 3 months, 6 months and 1 year.

In [30]:
def Profit_Loss(n):
    start_date = df['Date'].max()-pd.Timedelta(n-1,unit='D')
    df1 =  df[df['Date']>=start_date].loc[:,'Close Price']
    df2 =  df[df['Date']>=start_date].loc[:,'Prev Close']
    df1 = df1-df2;
    profit_loss = ((df1/df2)*100).mean();
    return profit_loss

In [31]:
# profit/loss percentage  for last N days
Profit_Loss(5)

-0.3688605400349229

In [32]:
# profit/loss percentage  for last 1 week
Profit_Loss(7)

-0.267635877933876

In [33]:
# profit/loss percentage  for last 2 weeks
Profit_Loss(14)

-0.5450050483970243

In [34]:
# profit/loss percentage  for last 1 months
Profit_Loss(30)

0.34093418439040735

In [35]:
# profit/loss percentage  for last 3 months
Profit_Loss(3*30)

0.07692271081020002

In [36]:
##profit/loss percentages for the last 6 months
Profit_Loss(6*30)

0.11464463061070797

In [37]:
##profit/loss percentages for the last 1 year
Profit_Loss(364)

-0.10278668087150818

## Query 1.6

In [38]:
df['Day_Perc_Change'] = df['Close Price'].pct_change()*100
df['Day_Perc_Change'].fillna(0,inplace=True)
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total_Traded_Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138048e+09,30047,712450,78.39,5,2017,0.000000
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339704e+09,58476,1167534,64.84,5,2017,2.708131
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513722e+09,86412,1031752,71.74,5,2017,1.078567
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489479e+09,111566,1135613,44.20,5,2017,3.292810
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238431e+09,63112,517461,57.94,5,2017,-1.145414

## Query 1.7

In [39]:
for ind, row in df.iterrows():
    if -0.5<df.loc[ind, 'Day_Perc_Change']<0.5:
        df.loc[ind, "Trend"] = 'Slight or No change'
    elif 0.5<df.loc[ind,'Day_Perc_Change']<1.0:
        df.loc[ind, "Trend"] = 'Slight Positive'
    elif -1.0<df.loc[ind,'Day_Perc_Change']<-0.5:
        df.loc[ind, "Trend"] = 'Slight negative'
    elif 1<df.loc[ind,'Day_Perc_Change']<3:
        df.loc[ind, "Trend"] = 'Positive'
    elif -3<df.loc[ind,'Day_Perc_Change']<-1:
        df.loc[ind, "Trend"] = 'Negative'
    elif 3<df.loc[ind,'Day_Perc_Change']<7:
        df.loc[ind, "Trend"] = 'Among top gainers'
    elif -7<df.loc[ind,'Day_Perc_Change']<-3:
        df.loc[ind, "Trend"] = 'Among top losers'
    elif df.loc[ind,'Day_Perc_Change']>7:
        df.loc[ind, "Trend"] = 'Bull run'
    elif df.loc[ind,'Day_Perc_Change']<-7:
        df.loc[ind, "Trend"] = 'Bear drop'

In [40]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total_Traded_Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Month,Year,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138048e+09,30047,712450,78.39,5,2017,0.000000,Slight or No change
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339704e+09,58476,1167534,64.84,5,2017,2.708131,Positive
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513722e+09,86412,1031752,71.74,5,2017,1.078567,Positive
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489479e+09,111566,1135613,44.20,5,2017,3.292810,Among top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238431e+09,63112,517461,57.94,5,2017,-1.145414,Negative

## Query 1.8

In [41]:
df.groupby(['Trend']).Total_Traded_Quantity.mean()

Trend
Among top gainers      4.706883e+06
Among top losers       7.492338e+06
Bear drop              5.049371e+06
Negative               1.975849e+06
Positive               2.302947e+06
Slight Positive        1.981558e+06
Slight negative        1.690573e+06
Slight or No change    1.687568e+06
Name: Total_Traded_Quantity, dtype: float64

In [42]:
df.groupby(['Trend']).Total_Traded_Quantity.median()

Trend
Among top gainers      2954120
Among top losers       4397518
Bear drop              5049371
Negative               1742213
Positive               1910952
Slight Positive        1762656
Slight negative        1576520
Slight or No change    1375582
Name: Total_Traded_Quantity, dtype: int64

In [43]:
df.to_csv("G:\\Internship\\module1.csv")